.attention {
  text-align: center;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  text-shadow: 20px 20px 10px teal;
  Margin-top: 1px;
}
.navfont {
  font-family: inherit;
}
.about-me {
  text-align: center;
  font-family: initial;
  margin-top: 90px;
  margin-left: 300px;
}

img {
  Margin-top: 100px;
  float: left;
}

.border {
  border-width: 5px; 
  border-color: rgb(63, 235, 235); 
  border-style: solid;
}

.myprojects {
  text-align: center;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  margin-top: 80px;
  margin-bottom: 50px;
}

.head {
  text-align: center;
  Font-weight: bold;
  font-style: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.border-small {
  border-width: 1px;
  border-color: darkblue;
  border-style: solid;
}

.contact {
  text-align: center;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  margin-top: 100px;
  margin-bottom: 200px;

}

.box {
  margin: 10px;
  border: 70px teal;
  padding: 4px;
  background-color: whitesmoke;
}

.email {
  text-align: center;
  Font-weight: bold;
  font-style: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size: medium;
}
