.attention {
  text-align: center;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  text-shadow: 10px 10px 10px teal;
  Margin-top: 5px;
}
.navfont {
  font-family: inherit;
}
.about-me {
  text-align: center;
  font-family: initial;
  margin-top: 90px;
  margin-left: 300px;
}

img {
  Margin-top: 100px;
  float: left;
}

.border {
  border-width: 5px; 
  border-color: teal; 
  border-style: solid;
}